<div class="container">
  <div class="place">

      <div class="place-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
        <% @place.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
      </div>
  </div>

    <div class="text">
      <span class="place-name"><%= @place.name %></span><br>
      <span class="place-description"><%= @place.description %></span>
    </div>
    <div class="rent-info">
      <span class="place-rating"><%= @place.rating %>⭐</span>
      <span class="place-rating"> Owner: <%= @place.user.email %></span><br>
      <span class="place-price"><%= @place.price %>$ /night </span>
      <button type="button" class="btn btn-primary">Rent</button>
    </div>
</div>

    <div style="width: 100%; height: 600px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<%# , url('<%= cl_image_path @article.photo.key, height: 300, crop: :fill')%>
